<!-- start custom head snippets -->

<meta name="theme-color" content="#6AB048">

<link rel="apple-touch-icon" sizes="180x180" href="{{site.baseurl}}/assets/images/favicon.ico">
<link rel="icon" type="image/x-icon" sizes="32x32" href="{{site.baseurl}}/assets/images/favicon.ico">
<link rel="icon" type="image/x-icon" sizes="16x16" href="{{site.baseurl}}/assets/images/favicon.ico">
<link rel="icon" type="image/x-icon" href="{{site.baseurl}}/assets/images/favicon.ico">

<!-- end custom head snippets -->