<!-- start custom head snippets -->

<link rel="stylesheet" href="/assets/js/katex/katex.min.css" integrity="sha384-n8MVd4RsNIU0tAv4ct0nTaAbDJwPJzDEaqSD1odI+WdtXRGWt2kTvGFasHpSy3SV" crossorigin="anonymous">
<script defer src="/assets/js/katex/katex.min.js" integrity="sha384-XjKyOOlGwcjNTAIQHIpgOno0Hl1YQqzUOEleOLALmuqehneUG+vnGctmUb0ZY0l8" crossorigin="anonymous"></script>
<script defer src="/assets/js/katex/contrib/auto-render.min.js" integrity="sha384-+VBxd3r6XgURycqtZ117nYw44OOcIax56Z4dCRWbxyPt0Koah1uHoK0o4+/RRE05" crossorigin="anonymous" onload="renderMathInElement(document.body);"></script>

<script>
  (function(d) {
    var config = {
      kitId: 'buc1pzr',
      scriptTimeout: 3000,
      async: true
    },
    h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
  })(document);
</script>

<link rel="apple-touch-icon" sizes="180x180" href="{{site.baseurl}}/assets/images/favicon.ico">
<link rel="icon" type="image/x-icon" sizes="32x32" href="{{site.baseurl}}/assets/images/favicon.ico">
<link rel="icon" type="image/x-icon" sizes="16x16" href="{{site.baseurl}}/assets/images/favicon.ico">
<link rel="icon" type="image/x-icon" href="{{site.baseurl}}/assets/images/favicon.ico">

<!-- end custom head snippets -->