<!-- start custom head snippets -->

<link rel="stylesheet" href="/assets/js/katex/katex.min.css" integrity="sha384-n8MVd4RsNIU0tAv4ct0nTaAbDJwPJzDEaqSD1odI+WdtXRGWt2kTvGFasHpSy3SV" crossorigin="anonymous">
<script defer src="/assets/js/katex/katex.min.js" integrity="sha384-XjKyOOlGwcjNTAIQHIpgOno0Hl1YQqzUOEleOLALmuqehneUG+vnGctmUb0ZY0l8" crossorigin="anonymous"></script>
<script defer src="/assets/js/katex/contrib/auto-render.min.js" integrity="sha384-+VBxd3r6XgURycqtZ117nYw44OOcIax56Z4dCRWbxyPt0Koah1uHoK0o4+/RRE05" crossorigin="anonymous" onload="renderMathInElement(document.body);"></script>

<meta name="theme-color" content="#6AB048">

<link rel="apple-touch-icon" sizes="180x180" href="{{site.baseurl}}/assets/images/favicon.ico">
<link rel="icon" type="image/x-icon" sizes="32x32" href="{{site.baseurl}}/assets/images/favicon.ico">
<link rel="icon" type="image/x-icon" sizes="16x16" href="{{site.baseurl}}/assets/images/favicon.ico">
<link rel="icon" type="image/x-icon" href="{{site.baseurl}}/assets/images/favicon.ico">

<!-- end custom head snippets -->